%section.api{ :id => idify(data['name']) }
  %h2 
    = data['name']

  %p
    = hamlify( data['description'] )

  - if data['methods']
    = methods( data['name'], data['methods'] )
  - if data['instance_properties']
    %h3.instance
      Instance Properties
    = methods( data['name'], data['instance_properties'], true )
  - if data['instance_methods']
    %h3.instance
      Instance Methods
    = methods( data['name'], data['instance_methods'], true )
