- @page_title = "The Miso Project :: Dataset :: Guides"

%article.dataset
  %section.guide
    %h2
      Computed Values
    %p 
      A pretty common requirement is to actually compute some basic statistics about your data.Most of the time those calculations happen on all the values in a specific column or a collection of columns, which is part of why we arrange our data in a column-wise manner. We call a computation that results in a single value a <code>Miso.Product</code>.

    %p
      There are several default computations built in:

    %h3 Max

    = toRunnableCodeBlock("dataset/computations/max")

    %p
      <b>Note</b> that the <code>max</code> can be computed on numeric columns but also time columns!

      = toRunnableCodeBlock("dataset/computations/max_time")

    %h3 Min

    = toRunnableCodeBlock("dataset/computations/min")

    %h3 Sum

    = toRunnableCodeBlock("dataset/computations/sum")

    %p
      <b>Note</b> you can't add up dates, so don't try that one.

    %h3 Mean

    = toRunnableCodeBlock("dataset/computations/mean")

    %h3 Syncing

    %p
      If you have enabled syncing on your dataset by setting <code>{ sync : true }</code> during your dataset initialization, you can also subscribe to changes in your computed product.
    %p
      A big change to note here is that if you plan to subscribe to a specific computation, it is no longer a simple result (like a number or a date.) It now becomse a <code>Miso.Product</code> object that you can retrieve the value from like so:
      %pre ds.max(["one", "two"]).val();
    %p 
      For example:

      = toRunnableCodeBlock("dataset/computations/syncing")

    %h3 Adding your own

    %p
      If you want to add your own computations to your dataset, take a look at <code>src/products.js</code> for some examples (like <code>max</code> and <code>min</code>.) 
    %p
      For example, if we wanted to implement a product that returned a random value from the dataset, you could do it like so:

      = toRunnableCodeBlock("dataset/computations/custom")

      <b>Note</b> that this form will also support an actual subscribable product if your dataset is syncable.
          
    %a{ :href => '/dataset/guides/selection', :style => 'float:left;' }
      %h2
        &laquo; Selecting Data

    %a{ :href => '/dataset/guides/derived', :style => 'float:right;' }
      %h2
        Derived Datasets &raquo; 
