- @page_title = "The Miso Project :: Dataset :: Tutorials"
- @layout = "dataset"

%article.dataset
  %section.tutorial
    %h2 Quick Start!
    %p
      There are two ways to use Dataset:

    %h3 In the Browser
    %p
      To get dataset into your web development environment, follow the following steps:
    %div.indent-1  
      %h4 Download the right build for your environment:
      %div{ :style => 'width:100%; display:inline-block;' }
        %div.download{ :style => 'width:100%;'}
          %a.button{ :href => 'https://github.com/downloads/misoproject/dataset/miso.ds.dev.0.3.0.zip', :onclick => "_gaq.push(['_trackEvent', 'Miso.Dataset', 'Downloads', 'Development Zip Bundle']);" }
            &darr; development
          %a.button{ :href => 'https://github.com/downloads/misoproject/dataset/miso.ds.min.0.3.0.js', :onclick => "_gaq.push(['_trackEvent', 'Miso.Dataset', 'Downloads', 'Minified Production (No Deps)']);" }
            &darr; production
          %a.button{ :href => 'https://github.com/downloads/misoproject/dataset/miso.ds.deps.min.0.3.0.js', :onclick => "_gaq.push(['_trackEvent', 'Miso.Dataset', 'Downloads', 'Minified Production (With Deps)']);" }
            &darr; production with dependencies

          %a.button{ :href => 'https://github.com/downloads/misoproject/dataset/miso.ds.deps.ie.min.0.3.0.js', :onclick => "_gaq.push(['_trackEvent', 'Miso.Dataset', 'Downloads', 'Minified Production (With Deps)']);" }
            &darr; production with dependencies [json2.js for IE]
          %a.button{ :href => 'http://github.com/misoproject/dataset' }
            &rarr; on github

      %h4 Include the appropriate script tags:
      %p 
        = toHTMLCodeBlock("dataset/quickstart/index.html")
      
      
      %h4 Start using Miso.Dataset in your code!
      %p
        You should now have access to the <code>Miso.Dataset</code> object in your code.


    %h3 In Node.js
    %div.indent-1
      %h4 Install appropriate package:
      %pre npm install miso.dataset
      %h4 Use the library in code:
      :plain
        <pre>
        var Miso = require("miso.dataset");
        var ds = new Miso.Dataset...
        </pre>

    %h3 Dependencies
    %div.indent-1
      %p
        If you chose to include the production version without built in dependencies, you may need to include them yourself. Dataset requires the following libraries:
        %ul
          %li= link_to 'LoDash 0.9.0','http://lodash.com/'
          %li= link_to 'Underscore.math.js (unknown version)','https://github.com/syntagmatic/underscore.math'
          %li= link_to 'Underscore.deferred.js 0.2.0','https://github.com/wookiehangover/underscore.Deferred'
          %li= "#{link_to 'moment.js 1.7.2','http://momentjs.com/'} (for 'time' data type)"
      %p
        If you are using IE, you will want to include json2.js:
        %ul
          %li= link_to 'json2.js 2011-10-19','https://github.com/douglascrockford/JSON-js'

    %h2 Creating Your First Dataset
    %div.indent-1
      %p
        There are many ways to import your data into Dataset, but here are a few common examples that should get you going. For
        full instructions see the <a href="/dataset/tutorials/creating.html">Creating a Dataset</a> tutorial.

      %h3 Creating a Basic Dataset
      %p
        In this example we are going to create a dataset that is based on a collection of objects, each representing a row.
        Let's assume you have a local var that contains the following array of objects:
        %p
          = toDisplayCodeBlock("dataset/quickstart/data.js")
        %div
          %p 
            You can then create your dataset like so:
            = toSetupCodeBlock("dataset/quickstart/data.js", "quickstart-dataset")
            = toRunnableCodeBlock("dataset/quickstart/dataset.js", "quickstart-dataset")
    %div.indent-1  
      %h3 Creating a Dataset from a Remote Source
      %p
        In this example, we are going to retrieve a set of data that is located at the following url: 
        %a{ :href => "http://misoproject.com/data/crudeoil.csv" }
          http://misoproject.com/data/crudeoil.csv
      %p
        Note that the data above is comma, delimited. You can create a dataset against this url like so.

        = toRunnableCodeBlock("dataset/quickstart/crudeoil.js")
    
    %a{ :href => '/dataset/tutorials/googlespreadsheets', :style => 'text-align:right;' }
      %h2
        Dataset from Google Spreadsheets &raquo;
