- @page_title = "The Miso Project :: Dataset :: API Reference"

%article.api.dataset

  - @api = []
  %div.api_wrapper
    = api_section('miso.dataset.yaml')
    = api_section('miso.dataview.yaml')
    = api_section('miso.product.yaml')
    = api_section('miso.events.yaml')
    = api_section('miso.event.yaml')
    = api_section('miso.importers.yaml')
    = api_section('miso.importers.local.yaml')
    = api_section('miso.importers.remote.yaml')
    = api_section('miso.importers.polling.yaml')
    = api_section('miso.importers.googlespreadsheet.yaml')
    = api_section('miso.parsers.yaml')
    = api_section('miso.column.yaml')
    = api_section('miso.types.yaml')
    = api_section('miso.types.mixed.yaml')
    = api_section('miso.types.string.yaml')
    = api_section('miso.types.number.yaml')
    = api_section('miso.types.boolean.yaml')
    = api_section('miso.types.time.yaml')


  %div.nav_wrapper
    %div.nav
      %ul
        - @api.each do |obj|
          %li
            %a{ :href => '#' + idify( obj['name'] ) }
              = obj['name']

            - if obj['methods']
              %ul.object
                - obj['methods'].each do |method|
                  %li
                    %a{ :href => '#' +  idify( [obj['name'], method['name'] ] ) }
                      = method['name']

            - if obj['instance_methods']
              %span.instance
                Instance Methods
              %ul
                - obj['instance_methods'].each do |method|
                  %li
                    %a{ :href => '#' + idify( [ obj['name'], 'i', method['name'] ] ) }
                      = method['name']

  -# = section('Miso.Events', 'api/miso.events', "api")

