- @page_title = "The Miso Project :: Dataset :: API Reference"

%article.api

  - @api = []
  = api_section('miso.dataset.yaml')
  = api_section('miso.dataview.yaml')
  = api_section('miso.column.yaml')

  %div.nav
    %ul
      - @api.each do |obj|
        %li
          %a{ :href => '#' + idify( obj['name'] ) }
            = obj['name']

          - if obj['methods']
            %ul.object
              - obj['methods'].each do |method|
                %li
                  %a{ :href => '#' +  idify( [obj['name'], method['name'] ] ) }
                    = method['name']

          - if obj['instance_methods']
            %span.instance
              Instance Methods
            %ul
              - obj['instance_methods'].each do |method|
                %li
                  %a{ :href => '#' + idify( [ obj['name'], 'i', method['name'] ] ) }
                    = method['name']

  -# = section('Miso.Dataset', 'api/miso.dataset', "api")
  -# = section('Miso.Column', 'api/miso.column', "api")
  -# = section('Miso.DataView', 'api/miso.dataview', "api")
  -# = section('Miso.Types', 'api/miso.types', "api")
  -# = section('Miso.Importer', 'api/miso.importer', "api")
  -# = section('Miso.Parser', 'api/miso.parser', "api")
  -# = section('Miso.Events', 'api/miso.events', "api")

