- @page_title = "The Miso Project :: Dataset :: API Reference"

%article.dataset
  = section('Miso.Dataset', 'api/miso.dataset', "api")
  = section('Miso.Column', 'api/miso.column', "api")
  = section('Miso.DataView', 'api/miso.dataview', "api")
  = section('Miso.Types', 'api/miso.types', "api")
  = section('Miso.Importer', 'api/miso.importer', "api")
  = section('Miso.Parser', 'api/miso.parser', "api")
  = section('Miso.Events', 'api/miso.events', "api")

