- @page_title = "The Miso Project :: Dataset :: API Reference"
= partial('../partials/dataset/nav_config')

%article.dataset
  = partial("../partials/dataset/topper")
  = section('Miso.Dataset', 'api/miso.dataset')
  = section('Miso.Column', 'api/miso.column')
  = section('Miso.DataView', 'api/miso.dataview')
  = section('Miso.Types', 'api/miso.types')
  = section('Miso.Importer', 'api/miso.importer')
  = section('Miso.Parser', 'api/miso.parser')
  = section('Miso.Events', 'api/miso.events')
  = nav('API Ref')

