- @page_title = "The Miso Project :: Dataset :: Docs"
= partial('../partials/dataset/nav_config')

%article.dataset
  = partial("../partials/dataset/topper")
  = section('Creating a Dataset', 'dataset/creating_dataset')
  = section('Fetching Data', 'dataset/fetching_data')
  = section('Data Types', 'dataset/data_types')
  = section('Accessing Data', 'dataset/accessing_data')
  = section('Events', 'dataset/events')
  = section('Sorting', 'dataset/modifying_data')
  = section('Selection', 'dataset/selection')
  = section('Computed Values', 'dataset/computed_values')
  = section('Derived Datasets', 'dataset/derived')
  = nav('Docs')
