- @page_title = "The Miso Project :: Dataset"
= partial('../partials/dataset/nav_config')

%article.dataset.index
  %section.intro.big
    %a{ :href => '/dataset' }
      =img("/images/dataset.png", { :class => 'logo' })
    %div.text
      %p
        Dataset is a javascript library makes managing the data behind client-side visualisations easy, including realtime data. It takes care of loading, parsing, sorting, filtering and querying of datasets as well as the creation of derivative datasets.
      %p
        Dataset is part of the 
        %a{ :href => '/'}
          Miso Toolkit

  = section('In Detail', 'dataset/why_dataset')
  = section('Dependencies', 'dataset/dependancies')
  = section('Download', 'dataset/downloads')
  = section('Contributing', 'dataset/code')
  = nav('Basics')
